{% extends '_layouts/base.njk' %}

{% block page_title %} The Ship's Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row=sm=4 row=md=6 row=lg=8 row=xl=12" align="center">
    <div class="col">
    <p>
      The Professor is lost in Lost Sea. His crew marooned him. His monkey left him. All Crit has is his rum, two turtles and his grit.
    </p>
{% for entry in entries %}
  <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
  <p class="entry-date">{{ entry.date }}</p>
  <hr>
{% endfor %}
    </div>
  </div>
</div>
{% endblock %}
